<br/>
<div class="row">
    <div class="col-sm-12">
        <input ng-model="url">
        <span>&nbsp;</span>
        <input ng-model="numberUsersToSpawn">
        <span>&nbsp;</span>
        <button ng-click="spawn()">Spawn</button>
        <span>&nbsp;</span>
        <input type="checkbox" ng-model="cup">Cup
        <span>&nbsp;</span>
        <button ng-click="joinRoom()">Join room</button>
        <span>&nbsp;</span>
        <button ng-click="leaveRoom()">Leave room</button>
        <span>&nbsp;</span>
        <input type="checkbox" ng-model="colorful">Colorful
        <span>&nbsp;</span>
        <input type="checkbox" ng-model="autoJoin">Auto-join
        <br/>
        <br/>
        <p>Active Users: {{ activeUsers }}</p>
        <br/>
        <br/>
        <button ng-click="clear()">Clear</button>
        <button ng-click="killAll()">Kill all</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <pre style="background-color:#FFFFFF; border:0px" id="idLogArea"></pre>
    </div>
</div>




